<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajouter une Disponibilité</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/main.min.css' rel='stylesheet'><link href="/styles/seance2.css" rel='stylesheet'>
  <link href="/styles/style.css" rel='stylesheet'>
</head>

<body>
<div th:replace="fragments/navbar.html:: body"></div>
<div class="container mt-5">
  <h1>Ajouter une Disponibilité</h1>
  <form th:action="@{/disponibilite}" th:object="${disponibilite}" method="post">
    <div class="mb-3">
      <label name="jour" class="form-label">Jour</label>
      <input type="text" >

      <!-- Utilisation du modèle 'jours' passé du contrôleur -->
<!--      <select name="jour" class="form-control">-->
<!--        <option th:each="j : ${jour}"-->
<!--                th:value="${j}"-->
<!--                th:text="${j}"></option>-->
<!--      </select>-->
    </div>

    <div class="mb-3">
      <label for="heureDebut" class="form-label">Heure de Début</label>
      <input type="time" th:field="*{heureDebut}" class="form-control" id="heureDebut" required>
    </div>

    <div class="mb-3">
      <label for="heureFin" class="form-label">Heure de Fin</label>
      <input type="time" th:field="*{heureFin}" class="form-control" id="heureFin" required>
    </div>

    <div class="mb-3">
      <label for="numeroEns" class="form-label">Numéro de l'Enseignant</label>
      <!-- Champ numéro d'enseignant -->
      <input type="number" th:field="*{numero_ens}" class="form-control" id="numeroEns" required>
    </div>

    <button type="submit" class="btn btn-success">Enregistrer</button>
    <a href="/disponibilite" class="btn btn-secondary">Annuler</a>
  </form>

  <!-- Affichage d'un message d'erreur en cas de problème -->
  <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
</div>
</body>
</html>